@import '../../styles/Globals.scss';

.Input {
    width: 100%;
    margin-bottom: $m-5;
    
    label {
        cursor: pointer;
        font-weight: $font-bold;
        color: $text-white;
    }

    input {
        width: inherit;
        padding: $p-2;
        border-radius: $default-rounded;
    }
}