@import '../../styles/Globals.scss';

.CustomerCard {
    position: relative;
    width: 100%;
    background-color: $bg-white;
    border-radius: $default-rounded;
    padding: $p-2;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.01);
    }

    p {

        span {
            font-weight: $font-bold;
        }
    }

    button {
        position: absolute;
        top: -6px;
        right: -6px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $secondary-rounded;
        background-color: $bg-red-500;
        width: $w-7;
        height: $w-7;
    }
}