@import '../../styles/Globals.scss';

.RegisterForm {
    display: flex;
    flex-direction: column;
    margin: $m-6 0;

    .submit {
        cursor: pointer;
        width: 100%;
        padding: $p-2;
        background-color: $bg-green-500;
        border-radius: $default-rounded;
        font-weight: $font-bold;
    }
}